{% extends 'admin/basebak.html' %}

{% block content  %}

<form action='/admin/addsolution/' method='POST'>
    <h1>添加故障以及解决方案</h1>
    {#<a href="/admin/logout/" style="float:right">注销登录</a>#}
    <span>设备厂商:</span>
    <select name="select_factory">
	<option value=0>选择厂商
        {% for factory in factories %}
	    <option value={{factory.id}}>{{factory.departname}}
        {% endfor  %}
    </select>
    {% for message in get_flashed_messages()[0:1] %}
               <span style="color:red;font-weight:bold;font-size:12px"> {{ message }}</span>
   {% endfor %} 
    <p style="background-color:red;color:white;width:200px;">具体故障:</p>
    <textarea  id="trouble" rows="4" cols="100" name="p_troublename" onfocus="if(value='describe trouble'){value=''}" onblur="if (value ==''){value='describe trouble'}">describe trouble</textarea>
    <p style="background-color:green;color:white;width:200px;">解决方案&代码:</p>
    <textarea id="solution" rows="10" cols="100" name="p_solution" onfocus="if(value=='make solution'){value=''}" onblur="if (value ==''){value='make solution'}">make solution</textarea>
    </br></br>
    <input type='submit' value='提交' style="width:50px" ">
</form></br>
<a href="/admin/showsolution/"><button style="color:green">查看已添加项</button></a>
<a href="/admin/"><button style="margin-left:20px;color:green">返回首页</button></a>
{% endblock %}
