<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
	td {
	    text-align:center;

	}
        a {
            text-decoration:none;
          }
	a:link {color: blue}
	a:visited {color: blue} 
	a:hover {color: blue;font-size:20px;} 
	a:active {color: blue} 	
	tr.style_1 {
	    background-color:#AAAA8B;
	}
	tr.style_2 {
	    background-color:#DEFFAC;
	}
	tr.style_3 {
	    background-color:#A6FFA6;
	}
	tr.style_4 {
	    background-color:#DEBEDE;
	}

	
</style>

</head>

<body>
    {% block content %}
    {% endblock %}
</body>
</html>
