{#
{% extends 'admin/basebak.html' %}

{% block content  %}

<div class="login" style="margin:0 auto">
<form action='/admin/login/' method='POST'>
    <p style="margin-left:20px;background-color:red;width:95%;color:white;font-size:30px;">请登录</p>
    <div style="margin-left:20px">
    <strong>Username:</strong>
    <input type='text' name='username' placeholder='请输入用户名' style="width:180px"/></br>
    </div>
    <div style="margin-top:10px;margin-left:20px">
	<strong style="margin-top:100px;">Password:</strong>
        <input type='Password' name='password' placeholder='请输入密码' style="width:180px"/> <span class="status_message">{{message}}</span>
        </br></br>
    	<input type='submit' value='登录' style="width:150px;background-color:green;color:white;margin-left:35px;">
   </div>
    
</form>

<div>
{% endblock %}
#}


