<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Login</title>  
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/Login.css')}}"/>  
</head>  
<body>  
    <div id="login">  
        <h1>Login</h1>  
        <form action={{url_for('admin.login')}} method="post">  
            <input type="text" required="required" placeholder="用户名" name="username"></input>  
            <input type="password" required="required" placeholder="密码" name="password"></input>
	    {% for message in get_flashed_messages()[0:1] %}
               <span style="color:red;font-weight:bold;font-size:12px"> {{ message }}</span>
  	     {% endfor %} 
            <button class="but" type="submit">登录</button>  
        </form>  
    </div>  
</body>  
</html>   

