body
{
	background:url(../images/bg/bg_pattern.jpg) repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#999;
	margin: 0px;
}


#header
{
	width:880px;
	margin:0px auto;
	padding:40px 0px;
	font-size:48px;
	font-weight:bold
}


.accordion
{
	width:1200px;
	margin:0px auto;
	list-style:none;
	padding:0px;
}


.accordion img, .accordion .caption
{
	position:absolute;
	left:-9999px;
}


#navigation
{
	width:200px;
	height:25px;
	margin:60px auto 0px;
}


#navigation a
{
	background-color:#F1F1F1;
	text-decoration:none;
	color:#999;
	padding:5px 10px;
	margin:0px 4px;
	border:#FFF solid 2px;
}
