<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="JS代码,图片特效,JS广告代码,JS特效代码" />
<meta name="description" content="此代码内容为网格图片手风琴jquery特效代码，属于站长常用代码，更多图片特效代码请访问懒人图库JS代码频道." />
<title>Shoufengqin_style</title>
<link href="/static/css/shoufengqin/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/shoufengqin/grid-accordion.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/shoufengqin/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/static/js/shoufengqin/jquery.gridAccordion.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($){
        $('.accordion').gridAccordion({width:960, 
                                       height:680, 
                                       columns:5, 
                                       distance:2, 
                                       closedPanelWidth:10, 
                                       closedPanelHeight:10, 
                                       alignType:'centerCenter',
                                       slideshow:true,
                                       panelProperties:{
                                            0:{captionWidth:200, captionHeight:35, captionTop:30, captionLeft:30},
                                            4:{captionWidth:150, captionHeight:100, captionTop:30, captionLeft:650},
                                            7:{captionWidth:310, captionHeight:35, captionTop:350, captionLeft:40},
                                            8:{captionWidth:300, captionHeight:40, captionTop:150, captionLeft:35},
                                            11:{captionWidth:150, captionHeight:120, captionTop:300, captionLeft:30},
                                            14:{captionWidth:300, captionHeight:40, captionTop:30, captionLeft:50},
                                            16:{captionWidth:150, captionHeight:120, captionTop:150, captionLeft:10},
                                            18:{captionWidth:300, captionHeight:40, captionTop:130, captionLeft:50}
                                        }});
    });
</script>
</head>
<body>
<!-- 代码 开始 -->
<div id="header">网格图片手风琴jquery特效代码</div>

<ul class="accordion">
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image1.jpg" alt=""></a>
            <div class="caption">This is just a simple caption.</div>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image2.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image3.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="i/static/images/shoufengqin/image4.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image5.jpg" alt=""></a>
            <div class="caption"><u>Title</u><br/><br/>This is a list of items:<ul><li>first item</li><li>second item</li><li>third item</li></ul></div>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image6.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image7.jpg" alt=""></a>                    
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image8.jpg" alt=""></a>
            <div class="caption">Captions can have any position and any size.</div>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image9.jpg" alt=""></a>
             <div class="caption">Add <b>HTML</b> elements like <a href="http://www.lanrentuku.com" target="_blank">links</a> or <input type="button" value="Buttons"></div>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image10.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image11.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image12.jpg" alt=""></a>
            <div class="caption"><u>Title</u><br/><br/>This is a list of items:<ul><li>first item</li><li>second item</li><li>third item</li></ul></div>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image13.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image14.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image15.jpg" alt=""></a>
             <div class="caption">Add <b>HTML</b> elements like <a href="http://www.lanrentuku.com" target="_blank">links</a> or <input type="button" value="Buttons"></div>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image16.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image17.jpg" alt=""></a>
            <div class="caption"><u>Title</u><br/><br/>This is a list of items:<ul><li>first item</li><li>second item</li><li>third item</li></ul></div>
        </li>
         <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image18.jpg" alt=""></a>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image19.jpg" alt=""></a>
            <div class="caption">Add <b>HTML</b> elements like <a href="http://www.lanrentuku.com" target="_blank">links</a> or <input type="button" value="Buttons"></div>
        </li>
        <li>
            <a href="http://www.lanrentuku.com" target="_blank"><img src="/static/images/shoufengqin/image20.jpg" alt=""></a>
        </li>
</ul>
</body>
</html>
